<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container center"><a id="logo-container" class="brand-logo">Admin</a>
    </div>
</nav>
<div class="container">
    <p>Generate List of professors in order of: name, dept, or salary </p>
    <form action='/polls/show' method='POST'>
        {% csrf_token %}
        <button class="waves-effect waves-light btn" type='submit' name='1' value="1"> name</button>
        <button class="waves-effect waves-light btn" type='submit' name='2' value="2"> dept</button>
        <button class="waves-effect waves-light btn" type='submit' name='3' value="3"> salary</button>
    </form>

    <p>Generate List of min/max/average salaries by department </p>
    <!-- <p>Select Department</p>
    <select name="dept" method="POST">
        <option value="All">All</option>
        <option value="Biology">Biology</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Communications">Communications</option>
        <option value="Comp. Eng.">Comp. Eng.</option>
        <option value="Comp. Sci.">Comp. Sci.</option>
        <option value="Digital Arts">Digital Arts</option>
        <option value="Economics">Economics</option>
        <option value="Elec. Eng.">Elec. Eng.</option>
        <option value="Electrical and Comp. Eng.">Electrical and Comp. Eng.</option>
        <option value="Finance">Finance</option>
        <option value="Graphics">Graphics</option>
        <option value="History">History</option>
        <option value="Math">Math</option>
        <option value="Military Science">Military Science</option>
        <option value="Music">Music</option>
        <option value="Physics">Physics</option>
        <option value="Political Science">Political Science</option>
        <option value="Politics">Politics</option>
        <option value="Psychology">Psychology</option>
        <option value="Robotics">Robotics</option>
        <option value="Software Eng">Software Eng</option>
        <option value="Statistics">Statistics</option>
        <option value="U.S. History">U.S. History</option>
      </select> -->

    <form action='/polls/show' method='POST'>
        {% csrf_token %}
        <button class="waves-effect waves-light btn" type='submit' name='4' value="4"> Generate</button>
    </form>

    <p>Generate List of professor's name, dept, and total number of students each professor taught for a given
        semester</p>
    <p>Select semester:</p>
    <div class="section">
        <form action='/polls/show' method='POST'>
            {% csrf_token %}
            <button class="waves-effect waves-light btn" type='submit' name='5' value="5"> Spring</button>
            <button class="waves-effect waves-light btn" type='submit' name='6' value="6"> Fall</button>
        </form>
    </div>

    <div class="section">
        <form action='/polls/logout' method='GET'>
            {% csrf_token %}
            <button class="waves-effect waves-light btn" type='submit' name='logout' value="logout"> Logout</button>
        </form>
    </div>

</div>

</body>

